<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Application context containing authentication, channel
  - security and web URI beans.
  -
  - Only used by "filter" artifact.
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<debug/>                        
    <global-method-security pre-post-annotations="enabled"/>

    <http pattern="/static/**" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/images/**" security="none"/>
    <http pattern="/loggedout" security="none"/>
    <http pattern="/login" security="none"/>
    <http pattern="/data/*.json" security="none"/>
	<http pattern="/resources/**" security="none"/>
	<http pattern="/adminPage/**" security="none"/>
	<http pattern="/orderPage/**" security="none"/>
	<http pattern="/ext5/**" security="none"/>

    <http  auto-config="true" access-denied-page="/accessDenied">

        <intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/loginfailed" access="IS_AUTHENTICATED_ANONYMOUSLY" /> 
        <intercept-url pattern="/success*" access="ROLE_USER,ROLE_ADMIN,ROLE_MANAGER,ROLE_ANALYST,ROLE_SUPERMANAGER" />  
        <intercept-url pattern="/admin*" access="ROLE_ADMIN,ROLE_SUPERMANAGER" />
        <intercept-url pattern="/main*" access="ROLE_USER,ROLE_CS,ROLE_ADMIN,ROLE_MANAGER,ROLE_ANALYST,ROLE_SUPERMANAGER"/>
        <intercept-url pattern="/**" access="ROLE_USER,ROLE_CS,ROLE_ADMIN,ROLE_MANAGER,ROLE_ANALYST,ROLE_SUPERMANAGER" />

  
        <form-login login-page="/login"  default-target-url="/main"
			authentication-failure-url="/loginfailed" always-use-default-target = "true"/>
		<logout invalidate-session="true" logout-success-url="/login" delete-cookies="JSESSIONID"/>
		
		
        <session-management invalid-session-url="/timeout">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
		
    </http>
  
    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>
    
    <beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">  
   	 	<beans:property name="userDetailsService" ref="userDetailsService"/>    
    	<beans:property name="hideUserNotFoundExceptions" value="false"/>  
    	<beans:property name="passwordEncoder" ref="passwordEncoder"/>
   	</beans:bean>
 
	<authentication-manager  alias="authenticationManager">
        <authentication-provider ref="daoAuthenticationProvider"  >
        <!-- <user-service>  
         <user authorities="ROLE_USER" name="guest" password="guest"/>  
      </user-service>  -->
        </authentication-provider>
    </authentication-manager>
    
</beans:beans>
